.Sponsors {
  background: #1c1c1c;
  color: #fff;
  height: 22vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsor_heading {
  font-weight: 500;
  font-size: 3.33vw;
  text-align: center;
  font-family: Rubik;
  padding-top: 2rem;
}
.sponsor_dot_pattern1 {
  position: absolute;
  width: 15%;
  left: -4%;
  top: -15%;
  z-index: 1;
}
.sponsor_dot_pattern2 {
  position: absolute;
  width: 15%;
  left: 85%;
  bottom: -15%;
  z-index: 0;
}
.sponsor_logo {
  width: 38vw;
  margin-top: 4vw;
}
@media screen and (max-width: 1024px) {
  .Sponsors {
    height: 100%;
  }
  .sponsor_dot_pattern1,
  .sponsor_dot_pattern2 {
    width: 25%;
  }
  .sponsor_dot_pattern1 {
    left: -8%;
  }
  .sponsor_dot_pattern2 {
    left: 75%;
    bottom: -22%;
  }
  .sponsor_heading {
    font-size: 8vw;
    z-index: 100;
  }
  .sponsor_logo {
    width: 60%;
    margin: auto 20%;
    margin-bottom: 6rem;
    padding-top: 4rem;
  }
}
